@media screen and (min-width: 750px) {
    .grid__item.before-after-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.grid__item.before-after-images.before-after-inline {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.grid__item.before_after--review_text {
    padding: 2em 1em; 
    align-self: center;
}

.before_after--review_body {
    padding: 1em 0 0 0; 
}

@media screen and (min-width: 750px) {
    .grid__item.before_after--review_text {
        padding: 1em 0 1em 2em; 
    }
}

.before-after__media .image-caption {
    text-align: center;
    font-size: 0.8em;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}



  .before-after-header {
    margin-top: 8rem;
    margin-bottom: 2rem;
  }
  
  .before-after:not(.color-scheme-background-1) {
    margin-bottom: 5rem;
  }
  
  .mt-icon {
    width: 100%;
    max-width: 700px;
    display: flex;
  }
  .mt-icon svg {
   margin: 5px;
  }

  .before-after-heading {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "GothamBook";
    font-size: 56pt;
    margin: 0;
  }

  .before-after-headline {
    justify-content: flex-start;
  }
  

  @media screen and (min-width: 750px) {
    .before-after {
      margin-bottom: 5rem;
    }
    .grid-item:not(.image-center) {
      flex-basis: 25%;
    }
    .surround-text-left {
      text-align: left;
    }
    .surround-text-right {
      text-align: right;
    }
  }

  @media screen and (max-width: 750px) {
    .grid-item {
      width: 100%;
    }

  .grid-item:not(.image-center) {
    text-align: center;
  }
  .mt-icon {
    flex-wrap: wrap;
  }
  .icon-discover {
    height: 15px;
  }
  .icon-microneedle-technology {
    height: 28px;
  }

  }

  .before-after .grid {
    margin-left: 0;
    margin-bottom: 0;
  }
  
  .before-after__grid {
    min-height: 300px;
  }

  .flex-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .image-center {
    flex-grow: 4;
    padding: 5rem;
  }

  .before-after-heading {
    text-align: center;
  }
  
  @media screen and (min-width: 750px) {

    .before-after__grid--reverse {
      flex-direction: row-reverse;
    }
  }
  
  .before-after__media {
    background-color: transparent;
    border: 1px solid #fff;
  }
  
  .before-after__media--small {
    height: 19.4rem;
  }
  
  .before-after__media--large {
    height: 43.5rem;
  }
  
  @media screen and (min-width: 750px) {
    .before-after__media--small {
      height: 31.4rem;
    }
  
    .before-after__media--large {
      height: 69.5rem;
    }
  }
  
  .before-after__media--placeholder {
    background-color: rgba(var(--color-foreground), 0.04);
    position: relative;
    overflow: hidden;
  }
  
  .before-after__media--placeholder.before-after__media--adapt {
    height: 20rem;
  }
  
  @media screen and (min-width: 750px) {
    .before-after__media--placeholder.before-after__media--adapt {
      height: 30rem;
    }
  }
  
  .before-after__media--placeholder > svg {
    position: absolute;
    left: 50%;
    max-width: 80rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    fill: currentColor;
  }
  
  .before-after__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    padding: 4rem 4rem 5rem;
  }
  

  .before-after__grid {
    display: flex;
    flex-wrap: wrap;
  }


  @media screen and (min-width: 750px) {
    .before-after__grid--reverse .before-after__content {
      margin-left: auto;
    }

  }
  
  @media screen and (min-width: 990px) {

    .before-after__content {
      padding: 6rem 7rem 7rem;
    }
  }
  
  .before-after__content > * + * {
    margin-top: 2rem;
  }
  
  .before-after__content > .before-after__text:empty ~ a {
    margin-top: 2rem;
  }
  
  .before-after__content > :first-child:is(.before-after__heading) {
    margin-top: 0;
  }
  
  .before-after__content :last-child:is(.before-after__heading) {
    margin-bottom: 0;
  }
  
  .before-after__content .button + .before-after__text {
    margin-top: 2rem;
  }
  
  .before-after__content .before-after__text + .button {
    margin-top: 3rem;
  }
  
  .before-after__heading {
    margin-bottom: 0;
  }
  
  .before-after__text p {
    margin-top: 0;
    margin-bottom: 13px;
  }

  .before-after__text strong {
    font-size: 1.625rem;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  

  .point-review-quote {
    width: 10em;
    display: flex;
    margin: 0 2em 3em 2em;
}

.review-quote-text {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 750px) {
    .review-quote-text h3 {
        font-size: 3.5rem;
  }
}

@media screen and (max-width: 750px) {
    .review-quote-text h3 {
        font-size: 3rem;
  }
}

.review-quote-text h3 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-indent: 1em;
}

.review-quote-text-body:before {
    content: " ";
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 329.000000 633.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cdefs%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color:%23E72677;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:%23EA591F;stop-opacity:1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(0.000000,633.000000) scale(0.100000,-0.100000)' fill='url(%23grad1)'%3E%3Cpath d='M92 6223 c3 -10 351 -1385 774 -3055 423 -1671 771 -3038 774 -3038%0A3 0 351 1367 774 3038 423 1670 771 3045 774 3055 4 16 -75 17 -1548 17 -1473%0A0 -1552 -1 -1548 -17z'/%3E%3C/g%3E%3C/svg%3E");
    height: 1em;
    width: 1em;
    position: absolute;
    margin-left: -1.4em;
}

.review-quote-text-body:after {
    content: " ";
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 329.000000 633.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cdefs%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color:%23E72677;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:%23EA591F;stop-opacity:1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(0.000000,633.000000) scale(0.100000,-0.100000)' fill='url(%23grad1)'%3E%3Cpath d='M92 6223 c3 -10 351 -1385 774 -3055 423 -1671 771 -3038 774 -3038%0A3 0 351 1367 774 3038 423 1670 771 3045 774 3055 4 16 -75 17 -1548 17 -1473%0A0 -1552 -1 -1548 -17z'/%3E%3C/g%3E%3C/svg%3E");
    height: 1em;
    width: 1em;
    position: absolute;
    margin-left: 0.3em;
}

.review-quote-text-body {
    text-indent: 1.3em;
}

.review-quote-block {
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.review-quote-source {
    justify-content: center;
    text-align: center;
}

.mb-zero {
    margin-bottom: 0;
}

.review_title {
    letter-spacing: 0.2em;
    text-transform: uppercase;
}