.image-surround {
    margin-top: 3em;
    margin-bottom: 6em;
  }

  .image-surround-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .image-surround:not(.color-scheme-background-1) {
    margin-bottom: 5rem;
  }

  .image-surround-heading {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "GothamBook";
    font-size: 56pt;
    margin: 0;
  }

    .mt-dots::before {
      content: "  ";
      background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 179.000000 179.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,179.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M855 1758 c-94 -51 -61 -188 45 -188 102 0 138 131 50 183 -32 19%0A-66 21 -95 5z'/%3E%3Cpath d='M499 1661 c-42 -43 -41 -102 3 -143 28 -26 38 -29 71 -25 68 9 110%0A71 88 129 -27 72 -109 92 -162 39z'/%3E%3Cpath d='M1174 1672 c-54 -43 -58 -100 -10 -148 45 -45 91 -46 135 -5 66 61%0A23 171 -66 171 -21 0 -48 -8 -59 -18z'/%3E%3Cpath d='M249 1465 c-34 -18 -53 -65 -45 -109 14 -76 111 -103 167 -47 82 82%0A-20 212 -122 156z'/%3E%3Cpath d='M1451 1466 c-86 -48 -54 -186 44 -186 20 0 45 5 56 10 22 12 49 61%0A49 89 0 74 -84 123 -149 87z'/%3E%3Cpath d='M856 1395 c-41 -22 -55 -44 -56 -88 0 -55 43 -97 100 -97 105 0 139%0A140 45 185 -41 19 -53 19 -89 0z'/%3E%3Cpath d='M542 1245 c-89 -38 -74 -166 23 -191 32 -8 90 21 104 52 39 86 -42%0A174 -127 139z'/%3E%3Cpath d='M1200 1252 c-14 -2 -37 -15 -52 -30 -78 -73 15 -207 109 -158 39 20%0A53 38 59 78 10 64 -50 120 -116 110z'/%3E%3Cpath d='M103 1160 c-26 -11 -53 -59 -53 -96 0 -16 13 -39 35 -61 32 -32 39%0A-35 78 -30 55 8 87 43 87 98 0 75 -72 119 -147 89z'/%3E%3Cpath d='M1579 1141 c-60 -61 -27 -156 58 -168 39 -5 46 -2 78 30 22 22 35 45%0A35 61 0 93 -107 141 -171 77z'/%3E%3Cpath d='M829 971 c-81 -81 17 -210 120 -157 48 25 63 83 36 136 -31 59 -107%0A69 -156 21z'/%3E%3Cpath d='M434 876 c-46 -46 -46 -86 0 -132 45 -45 95 -47 137 -5 62 63 20 171%0A-66 171 -29 0 -45 -8 -71 -34z'/%3E%3Cpath d='M1229 881 c-62 -62 -20 -171 65 -171 25 0 45 9 68 29 27 24 33 36 33%0A71 0 35 -6 47 -33 71 -44 40 -93 40 -133 0z'/%3E%3Cpath d='M104 819 c-25 -13 -54 -59 -54 -88 0 -87 109 -133 171 -72 81 81 -13%0A210 -117 160z'/%3E%3Cpath d='M1579 801 c-62 -63 -20 -171 66 -171 50 0 105 53 105 100 0 23 -9 42%0A-34 66 -45 45 -95 47 -137 5z'/%3E%3Cpath d='M692 629 c-34 -10 -72 -58 -72 -92 0 -64 74 -117 135 -97 67 22 89%0A113 39 164 -15 14 -30 26 -35 26 -4 0 -13 2 -21 4 -7 2 -28 0 -46 -5z'/%3E%3Cpath d='M1034 624 c-81 -39 -74 -156 11 -184 77 -25 150 49 125 126 -19 57%0A-83 84 -136 58z'/%3E%3Cpath d='M229 491 c-46 -47 -36 -121 21 -154 50 -30 104 -16 133 33 42 70 -2%0A150 -83 150 -33 0 -48 -6 -71 -29z'/%3E%3Cpath d='M1429 491 c-20 -20 -29 -40 -29 -61 0 -102 111 -145 176 -67 22 26%0A25 38 21 71 -12 84 -108 117 -168 57z'/%3E%3Cpath d='M507 290 c-95 -75 -4 -219 107 -169 33 15 59 71 51 109 -15 68 -105%0A102 -158 60z'/%3E%3Cpath d='M1178 293 c-48 -30 -60 -84 -31 -133 52 -88 183 -52 183 50 0 81 -83%0A126 -152 83z'/%3E%3Cpath d='M864 226 c-82 -36 -86 -144 -7 -181 44 -21 85 -12 118 27 46 54 27%0A126 -41 154 -39 16 -32 16 -70 0z'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      font-size: 3em;
      margin: 0 0.1em 0 0.05em;
      position: relative;
      top: 16px;
    }
    @media screen and (max-width: 750px) {
    .mt-dots::before {
    margin: 0 0.05em 0 0.02em;
    top: 13px;
  }
}
  @media screen and (min-width: 750px) {
    .image-surround {
      margin-bottom: 5rem;
    }
    .grid-item:not(.image-center) {
      flex-basis: 25%;
    }
    .surround-text-left {
      text-align: left;
    }
    .surround-text-right {
      text-align: right;
    }
  }

  @media screen and (max-width: 750px) {
    .grid-item {
      width: 100%;
    }

  .grid-item:not(.image-center) {
    text-align: center;
  }
  }



  .image-surround .grid {
    margin-left: 0;
    margin-bottom: 0;
  }
  
  .image-surround__grid {
    overflow: hidden;
  }

  .flex-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .image-center {
    flex-grow: 4;
    padding: 5rem;
  }

  .image-surround-heading {
    text-align: center;
  }
  
  @media screen and (min-width: 750px) {

    .image-surround__grid--reverse {
      flex-direction: row-reverse;
    }
  }
  
  .image-surround__media {
    background-color: transparent;
    min-height: 100%;
  }
  
  .image-surround__media--small {
    height: 19.4rem;
  }
  
  .image-surround__media--large {
    height: 43.5rem;
  }
  
  @media screen and (min-width: 750px) {
    .image-surround__media--small {
      height: 31.4rem;
    }
  
    .image-surround__media--large {
      height: 69.5rem;
    }
  }
  
  .image-surround__media--placeholder {
    background-color: rgba(var(--color-foreground), 0.04);
    position: relative;
    overflow: hidden;
  }
  
  .image-surround__media--placeholder.image-surround__media--adapt {
    height: 20rem;
  }
  
  @media screen and (min-width: 750px) {
    .image-surround__media--placeholder.image-surround__media--adapt {
      height: 30rem;
    }
  }
  
  .image-surround__media--placeholder > svg {
    position: absolute;
    left: 50%;
    max-width: 80rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    fill: currentColor;
  }
  
  .image-surround__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    padding: 4rem 4rem 5rem;
  }
  

  .image-surround__grid {
    display: flex;
    flex-wrap: wrap;
  }


  @media screen and (min-width: 750px) {
    .image-surround__grid--reverse .image-surround__content {
      margin-left: auto;
    }

  }
  
  @media screen and (min-width: 990px) {

    .image-surround__content {
      padding: 6rem 7rem 7rem;
    }
  }
  
  .image-surround__content > * + * {
    margin-top: 2rem;
  }
  
  .image-surround__content > .image-surround__text:empty ~ a {
    margin-top: 2rem;
  }
  
  .image-surround__content > :first-child:is(.image-surround__heading) {
    margin-top: 0;
  }
  
  .image-surround__content :last-child:is(.image-surround__heading) {
    margin-bottom: 0;
  }
  
  .image-surround__content .button + .image-surround__text {
    margin-top: 2rem;
  }
  
  .image-surround__content .image-surround__text + .button {
    margin-top: 3rem;
  }
  
  .image-surround__heading {
    margin-bottom: 0;
  }


  .image-surround__text strong {
    font-size: 1.625rem;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  
  @media screen and (max-width: 750px) {
    .image-surround__text {
      margin-bottom: 1.5em;
    }
    .mt-title {
      text-align: center;
    }
  }